#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.album {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #000;
  padding: 1rem;
  text-align: left;
}

.album img {
  width: 100%;
  object-fit: cover;
}

.album h2 {
  margin: 0;
  color: #fff;
  font-size: 1rem;
}

.album p {
  color: #fff;
  font-size: 0.8rem;
}